extends layout

block content
  .wrapper.fadeInDown
    #formContent
      // Tabs Titles
      // Icon
      .fadeIn.first
        img#icon(src='http://danielzawadzki.com/codepen/01/icon.svg' alt='User Icon')
      // Login Form
      form
        input#login.fadeIn.second(type='text' name='login' placeholder='login')
        input#password.fadeIn.third(type='text' name='login' placeholder='password')
        input.fadeIn.fourth(type='submit' value='Log In')
      // Remind Passowrd
      #formFooter
        a.underlineHover(href='#') Forgot Password?
  | f
