extends layout 

block content 


    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    .container
    h1 Movie Reviews
    
    .row-fluid
        .col-sm-6
        .panel.panel-default
            .panel-heading
            span(itemscope='' itemtype='http://schema.org/Review')
                h3.panel-title(itemprop='name') Movie Name
            // /panel-heading
            .panel-body(itemprop='reviewBody')
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae,
                | fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!
            span(itemprop='author' itemscope='' itemtype='http://schema.org/Person')
                small
                span(itemprop='name') -- J. Reviewer
            // /author schema
            span.glyphicon.glyphicon-calendar(aria-hidden='true')
            meta(itemprop='datePublished' content='01-01-2016')
            | 01-01-2016
            span.pull-right
                span.reviewRating(itemscope='' itemtype='http://schema.org/Rating')
                meta(itemprop='worstRating' content='1')
                span(itemprop='ratingValue') 5
                span(itemprop='bestRating')  stars 
                // /reviewRating
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
    .row-fluid
        .col-sm-6
        .panel.panel-default
            .panel-heading
            span(itemscope='' itemtype='http://schema.org/Review')
                h3.panel-title(itemprop='name') Movie Name
            // /panel-heading
            .panel-body(itemprop='reviewBody')
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Nihil quaerat aperiam unde nemo suscipit id repellendus ad doloribus quae,
                | fugiat quia rem molestias sequi, amet nisi qui cumque iusto earum!
            span(itemprop='author' itemscope='' itemtype='http://schema.org/Person')
                small
                span(itemprop='name') -- J. Reviewer
            // /author schema
            span.glyphicon.glyphicon-calendar(aria-hidden='true')
            meta(itemprop='datePublished' content='01-01-2016')
            | 01-01-2016
            span.pull-right
                span.reviewRating(itemscope='' itemtype='http://schema.org/Rating')
                meta(itemprop='worstRating' content='1')
                span(itemprop='ratingValue') 5
                span(itemprop='bestRating')  stars 
                // /reviewRating
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
                span.glyphicon.glyphicon-star(aria-hidden='true')
            
            